# Latest discord.py
git+https://github.com/cookkkie/discord.py.git@async
aioredis
motor
aiomeasures
BeautifulSoup4
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
